@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gaegu', cursive;
  color: #ffffff;
  background: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}